<h1><%= @team.teamname %></h1>

<% @team.players.each do |player| %>
	<% @team_player= TeamPlayer.find_by_player_id_and_team_id(player.id, @team.id) %>
	<%= player.name %> | <%= link_to "Delete", team_player_path(@team_player), method: :delete, :confirm => "Are you sure?"  %><br />
<% end %>

<% if @team.league_id.nil? %>
	<%= form_for @team do |t| %>
	<%= t.label :league_name %>
	<%= t.text_field :league_id %>
	<%= t.submit "Add team to League" %>
	<% end %>
<% end %>

<%= form_tag players_path, :method => 'get', :id => "players_search" do %>
  <p>
  	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= paginate @players %>
<table id="players" class="datatable" >
  <thead>
	<tr>
		<th>Name</th>
		<th>Club</th>
		<th>Points</th>
		<th></th>
	</tr>
  </thead>
  <tbody>
	<% @players.each do |player| %>
		<tr>
			<td><%= link_to player.name, player_path(player) %></td>
			<td><%= "#{player.club}" %></td>
			<td><%= "#{player.points}" %></td>
			<td><% if !@team.players.include?(player) %>
					<%= form_for(@relationship) do |f| %>
		  				<div><%= f.hidden_field :player_id, :value => player.id %>
		  				<%= f.hidden_field :team_id, :value => @team.id %></div>
		  				<%= f.submit "Add To Team", class: "btn btn-large btn-primary" %>
					<% end %>
				<% end %>
			</td>
		</tr>
	<% end %>
  </tbody>
</table>
