<h1><%= @team.teamname %></h1>

<table class="table table-striped">
  <thead>
	<tr>
		<th>Name</th>
		<th>Points</th>
		<th>Value</th>
		<th></th>
	</tr>
  </thead>
  <tbody>
	<% @team.players.each do |player| %>
	<tr>
		<% @team_player= TeamPlayer.find_by_player_id_and_team_id(player.id, @team.id) %>
		<td><%= link_to player.name, player_path(player) %></td>
		<td><%= player.points %></td>
		<td><%= player.value %></td>
		<td><%= link_to "Delete", team_player_path(@team_player), method: :delete, :confirm => "Are you sure?", class: "btn btn-large btn-primary"  %></td>	
	</tr>	
	<% end %>
  </tbody>
</table>

<% if @team.league_id.nil? %>
	<%= form_for @team do |t| %>
	<%= t.label :league_name %>
	<%= t.text_field :league_id %>
	<%= t.submit "Add team to League" %>
	<% end %>
<% end %>


<%= paginate @players %>
<br /><br /><br />
<table id="players" class="datatable" >
  <thead>
	<tr>
		<th>Name</th>
		<th>Club</th>
		<th>Points</th>
		<th></th>
	</tr>
  </thead>
  <tbody>
	<% @players.each do |player| %>
		<% if !@team.players.include?(player) %>
			<tr>
				<td><%= link_to player.name, player_path(player) %></td>
				<td><%= "#{player.club}" %></td>
				<td><%= "#{player.points}" %></td>
				<td><%= form_for(@relationship) do |f| %>
	  				<div><%= f.hidden_field :player_id, :value => player.id %>
	  				<%= f.hidden_field :team_id, :value => @team.id %></div>
	  				<%= f.submit "Add To Team", class: "btn btn-large btn-primary" %>
				<% end %>
				</td>
			</tr>
		<% end %>
	<% end %>
  </tbody>
</table>
