<% provide(:title, @team.teamname) %>
<h1><%= @team.teamname %></h1>

<table class="table table-striped">
  <thead>
	<tr>
		<th>Name</th>
		<th>Position</th>
		<th>Last Weeks Points</th>
		<th>Points</th>
		<th>Value</th>
		<th></th>
	</tr>
  </thead>
  <tbody>
  	<% val = 0 %>
	<% @team.players.each do |player| %>
	<tr>
		<% val += player.value %>
		<% @team_player= TeamPlayer.find_by_player_id_and_team_id(player.id, @team.id) %>
		<td><%= link_to player.name, player_path(player) %></td>
		<td><%= player.position %></td>
		<td><%= player.weekly_points %></td>
		<td><%= player.points %></td>
		<td><%= player.value %></td>
		<td><%= link_to "Delete", team_player_path(@team_player), method: :delete, :confirm => "Are you sure?", class: "btn btn-large btn-primary"  %></td>	
	</tr>	
	<% end %>
	<%= "Current cost of team #{val} \\ 50m" %>
  </tbody>
</table>

<% if @team.league_id.nil? %>
	<%= form_for @team do |t| %>
	<%= t.label :league_name %>
	<%= t.text_field :league_id %>
	<%= t.submit "Add team to League" %>
	<% end %>
<% end %>


<br /><br /><br />
<%= search_form_for @q, url: edit_team_path(@team) do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
  <div class="field">
    Sort:<br />
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<br /><br /><br />
<table id="players" class="datatable" >
  <thead>
	<tr>
		<th>Name</th>
		<th>Club</th>
		<th>Position</th>
		<th>Last Weeks Points</th>
		<th>Points</th>
		<th>Value</th>
		<th></th>
	</tr>
  </thead>
  <tbody>
	<% @players.each do |player| %>
		<% if !@team.players.include?(player) %>
			<tr>
				<td><%= link_to player.name, player_path(player) %></td>
				<td><%= "#{player.club}" %></td>
				<td><%= player.position %></td>
				<td><%= player.weekly_points %></td>
				<td><%= "#{player.points}" %></td>
				<td><%= player.value %></td>
				<td><%= form_for(@relationship) do |f| %>
	  				<div><%= f.hidden_field :player_id, :value => player.id %>
	  				<%= f.hidden_field :team_id, :value => @team.id %></div>
	  				<%= f.submit "Add To Team", class: "btn btn-large btn-primary" %>
				<% end %>
				</td>
			</tr>
		<% end %>
	<% end %>
  </tbody>
</table>
