<h1><%= current_user.email %></h1>
<h2>Create New Team</h2>
<%= form_for(@team) do |f| %>
  <div class="field">
    <%= f.label :teamname %>
    <%= f.text_field :teamname %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>