<% provide(:title, @user.email ) %>
<h1><%= @user.username %></h1>
<p><%= @user.email %></p>
<% if current_user %>
	<p><%= link_to "Send Message to User", new_mailboxes_path(:user_id => @user.id)  %></p>
<% end %>
<p>User has <%= @user.teams.count %> teams</p>
<% if !@user.teams.nil? %>
	<% @user.teams.each do |team| %>
		<% if can? :update, team %>
			<%= link_to team.teamname, edit_team_path(team) %>
		<% else %>
			<%= team.teamname %>
	 	<% end %>
		<% if can? :update, team %>
			| <%= link_to "Delete", team, method: :delete, :confirm => "Are you sure?"  %>
		<% end %><br />
	<% end %>
<% end %>
