<%- model_class = Player -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= paginate @players %><br /><br /><br />
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:club) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:goals) %></th>
      <th><%= model_class.human_attribute_name(:games) %></th>
      <th><%= model_class.human_attribute_name(:points) %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player_path(player) %></td>
        <td><%= player.club %></td>
        <td><%= player.position %></td>
        <td><%= player.goals %></td>
        <td><%= player.games %></td>
        <td><%= player.points %></td>

      </tr>
    <% end %>
  </tbody>
</table>

